@mixin content-text {
  display: inline-block;
  margin-top: -2px;
  margin-left: 25px;
  width: 150px;
  color: $color-description;
  font-weight: bold;
  line-height: 19px;
}


@mixin transition {
  transition: all 0.3s ease;
}

@mixin animate {
  // transition: background 1s;
  //transform: scale(1.1);
  background-size: cover;
  transition: all 0.3s ease;
  background-size: 114%;
}
