/*Typography*/

$font-family: "Open Sans", Arial, Helvetica, sans-serif;
$font-family-menu: "Roboto", Arial, Helvetica, sans-serif;
$font-size-base: 14px;

/*Colors*/

$color-darkblue: #223242;
$color-green: #4DA84B;
$color-bg: $color-darkblue;
$color-menu: $color-darkblue;
$color-text: #FFFFFF;
$color-description: #C8D0DC;



/*Media*/

$screen-sm: ('max-width: 600px');
$screen-md: ('min-width: 601px'); //Sorry guys, but blocks until the next breakpoint badly stretched.
$screen-lg: ('min-width: 1024px');
$screen-xl: ('min-width: 1280px');
