html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: $font-family;
	font-size: $font-size-base;
	background: $color-darkblue;
}

.active-menu {
	@media($screen-sm) {
    display: flex!important;
  }
	display: flex;
	flex-direction: column;
}
