.content {

  overflow:hidden;

  @media($screen-lg) {
    display: flex;
    flex-wrap: wrap;
  }

  @media($screen-xl) {
    min-height: 555px;
  }

  &__item {
    position: relative;
    padding: 0 30px;
    width: 100%;
    height: 300px;
    background: grey;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #223242;
  }

  &__item:hover {

  }

  &__item--hero {
    background: url(../img/hero.png) no-repeat;
    //background-size: cover;
    background-size: 100%;

    @include transition;

    @media($screen-md) {
      background-position: 52% 14%;
      border-bottom: 1px solid #223242;
    }
    @media($screen-lg) {
      width: 65%;
    }
    @media($screen-xl) {
      width: 50%;
    }
  }

  &__item--hero:hover {
    @include animate;
  }

  &__item--crown {
    background: url(../img/crown.png) no-repeat;
    //background-size: cover;
    background-size: 100%;

    @include transition;

    @media($screen-md) {
      float: left;
      width: 50%;
      background-position: 0px 55%;
      border-right: 1px solid #223242;
      border-bottom: none!important;
    }

    @media($screen-lg) {
      width: 35%;
    }
    @media($screen-xl) {
      width: 25%;
    }
  }

  &__item--crown:hover {
    @include animate;
  }

  &__item--rocket {
    background: url(../img/rocket.png) no-repeat;
    //background-size: cover;
    background-size: 100%;

    @include transition;

    @media($screen-md) {
      float: left;
      width: 50%;
      background-position: 0px 55%;
    }
    @media($screen-lg) {
      width: 33%;
    }
    @media($screen-xl) {
      width: 25%;
    }
  }

  &__item--rocket:hover {
    @include animate;
  }

  &__icon {
    position: relative;
    top: 30px;
    width: 30px;
    height: 21px;
    background: url(../img/vip.svg) no-repeat;

    @media($screen-lg) {
      top: 41px;
      width: 20px;
      height: 14px;
      background-size: cover;
    }
  }

  &__best {
    display: none;

    @media($screen-lg) {
      @include content-text;
    }

    @media($screen-xl) {
      display: none;
    }
  }

  &__vip {
    display: none;

    @media($screen-xl) {
      @include content-text;
    }
  }

  &__ref {
    text-decoration: none;
  }

  &__title {
    margin: 0;
    padding-top: 106px;
    width: 200px;
    font-size: 30px;
    line-height: 36px;
    color: $color-text;
  }

  &__title--hit {
    line-height: 30px;
    color: $color-description;

    @media($screen-lg) {
      width: 305px;
      font-size: 50px;
      line-height: 40px;
    }
  }

  &__title--green {
    color: $color-green;
  }

  &__decription {
    margin: 0;
    padding-top: 20px;
    color: $color-description;
    line-height: 14px;
  }

  &__decription--hit {
    padding-top: 10px;

    @media($screen-lg) {
      display: inline-block;
      margin-right: 30px;
      font-size: 20px;
      line-height: 14px;
    }
  }

  &__link {
    display: block;
    margin-top: 30px;
    padding: 15px 34.5px;
    width: 240px;
    height: 50px;
    background: $color-green;
    border-radius: 4px;
    text-decoration: none;
    color: $color-text;
    font-size: 20px;
    line-height: 16px;
    cursor: pointer;

    @media($screen-lg) {
      display: inline-block;
      margin-top: 35px;
    }

    @media($screen-lg) {
      padding: 16px 16px 20px 20px;
      width: 210px;
      height: 52px;
    }
  }

  &__link:hover {
    background: darken($color-green, 3);
  }
}
