.main-header {
  width: 100%;
  background: $color-menu;

  @media($screen-sm) {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
  }

  &__description {
    display: none;
    @media($screen-sm) {
      display: block;
      margin: 0;
      padding: 12px 0 14px 20px;
      color: $color-text;
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__menu-btn {
    display: none;
    @media($screen-sm) {
      display: block;
      padding: 18px 20px 18px 0;
      cursor: pointer;
    }
  }

  &__burger {
    width: 20px;
    height: 14px;
  }

  &__title {
    @media($screen-sm) {
      display: none;
    }
    margin: 0 auto;
    padding: 25px 0 29px 0;
    color: $color-description;
    font-size: 32px;
    line-height: 30px;
    text-align: center;
  }
}
